body {
    background-color: rgb(95, 95, 100);
    margin: 0;
    padding: 0; 
    width: 100%;
    box-sizing: border-box;
  }

  .header {
    display: flexbox;
    flex-direction: row;
    position: relative;
    width: 100%;


    overflow: hidden;
    padding-top: 16px;
    padding-bottom: 16px;
    /*width: 100vw;*/
    text-align: center;
    background: rgb(42, 40, 40);
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
  }
  
  h1 {
    color: rgb(222, 218, 218);
    font-weight: bold;
  }
  
  h2{
    color: rgb(222, 218, 218);
  }
  
  h3{
    color: rgb(222, 218, 218);
  }

  p{
    color : rgb(222, 218, 218);
  }

  .EcritureBody {
    font-size: smaller;
    color : rgb(222, 218, 218);
  }

  .banniere{
    display: flex;
    position:sticky;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;  
    column-gap: 16px;
    padding: 8px;
    background-color: rgb(52, 44, 44);
    border: 16px solid rgb(52, 44, 44);
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
  }

  .container{
    display: flex;
    flex-direction: row;
    margin: 0;  
    column-gap: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    grid-auto-rows: 150px; /* Ajoute des lignes de 150px automatiquement */
    gap: 8px;
    width: 100%;
    height: 100%;
    grid-template-columns: 400px 400px 400px;
    /*Taille des colonnes > taille des lignes pour inclure les titres*/
    grid-template-rows: 300px 300px 300px ;
  }/*Contient toute les parties avec des cases*/
  .container .colone{
    flex-direction: column;
    display: table-column;
  }

  .clickable :hover{
    cursor: pointer; /* Change cursor to pointer */
}
  

  
  .boiteTransparente{
    display: flex;
    flex-direction: row;
  }/*Contient ET les cases, ET Les titres, fait occupe le container mais n'est pas visible,
  
  En exemple d'utilisation y'a ça

   <div class= "boiteTransparente" style="grid-column: 1 / 1; grid-row: 1 / 3;">

   pour une boite transparente allant de la colone 1 à la colone 1 et de la ligne 1 à la ligne 2 
   (oui c'est normal 3 = 2 on dirait que ça fonctionne par n-1 sauf pour le 1 qui est égal à 1) */
  




  .gridCase{
    display: flex;
    flex-direction: column;
    gap: 32px 16px; 
    border-radius: 16px;
    border: 2px solid;
    border-color: black;
    background: rgb(100, 90, 90);
    padding: 20px;
    width: 100%; /* Largeur réduite de 40px */
    height: calc(100% - 40px); /* Hauteur réduite de 40px */
    box-sizing: border-box;
    min-height: 100%; /* Hauteur minimale réduite */
    min-width: 100%; /* Largeur minimale réduite */
    max-width: 100%; /* Largeur maximale réduite */
    max-height: 100%; /* Hauteur maximale réduite */
    overflow: auto;
    box-shadow: 8px 8px 16px  rgba(0, 0, 0, 0.79),
                4px 4px 8px rgba(238, 237, 237, 0.071);
  } /*case visible contenant des infos*/ 




  button {
    background-color: rgb(100, 90, 90);
    border: 2px solid;
    border-radius: 12px;
    border-color: black;
    color: #fff; 
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 8px 16px; /* horizontal and vertical padding */
    cursor: pointer; /* change cursor to a hand on hover */
  
  }
  button:hover{
    transform: scale(1.1);
    transition: all 0.1s linear;
  }
  
  img:hover{
    transform: scale(1.1);
    transition: all 0.1s linear;
    
  }
  img:hover .slide{
      opacity: 1;
  }

  .slide{
    opacity: 0;
    transition: opacity 0.3s ease;
    display: rflex;
    align-items: center;
    padding-top: 16px;
  } /*Le texte qui s'affiche quand on survole le duoImageText plus bas*/

  .duoImageText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 32px;
    width: 200px;
    color: #fff;
    flex-direction: column;
    margin-top: 0;
  }

  .duoImageText img{
    width: 64px;
    height: 64 px;
    object-fit: cover;
  }

  .duoImageText:hover .slide{
    visibility: visible;
    opacity: 1;
    transition: all 0.1s linear;
  }



  @media (max-width:  768ppx) {
    .container{
      display: flex;
      flex-direction: column;

      grid-template-columns: 320px 320px 320px;
      grid-template-rows: 320px 320px 320px ;
    } /*Si je m'en rappel c'était pour faire en sorte que
     l'affichage soit responsive à la taille de la fenêtre
     
     DE PLUS, SI Y'A UN PB DE TAILLE DES GRIDCASE C'EST SUREMENT LA*/
    
  }


/*Scrollbar*/

  /* width */
::-webkit-scrollbar {
  width: 12px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(50, 46, 46);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  border-radius: 8px;
}