body {
    background-color: rgb(95, 95, 100);
  }
  
  h1 {
    color: rgb(222, 218, 218);
    font-weight: bold;
  }
  p{
    color : rgb(222, 218, 218);
  }
  .fenetre{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px ;
    gap: 40px 20px; 
  }

  .item1{
    grid-column: 1 / -1;
    grid-row: 1 / 1;
  }